<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container Monitoring Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Container Monitoring Dashboard</h1>
    <div id="pod-status">
        <h4>Pod Name: {{ pod_name }}</h4>
        <span style='color:{{ status_color }}; font-size: 1.2em;' class="material-icons">{{ status_icon }}</span>
        <span style='color:{{ status_color }}; font-size: 1.2em;'>{{ pod_status }}</span>
    </div>
    <div id="charts">
        <h2>Container CPU Usage</h2>
        <div id="cpu-chart">{{ cpu_chart|safe }}</div>
        <h2>Container RAM Usage</h2>
        <div id="memory-chart">{{ memory_chart|safe }}</div>
    </div>
    <div id="kpis">
        <div>
            <h2>MAE</h2>
            <p>{{ mae }}</p>
        </div>
        <div>
            <h2>Exec time (s)</h2>
            <p>{{ exec_time }}</p>
        </div>
    </div>
</body>
</html>
